@model ReExamAppV2._3.Models.CompanyInfo

@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <hr />
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <h2>Company Info</h2>
            <img src="@Model.Logo"
                 alt="" class="img-rounded img-responsive"/>
        </div>
        <div class="col-sm-4 col-md-4">

            <blockquote>
                <p>@Model.CompanyName</p> <small><cite title="Source Title">@Html.DisplayFor(model => model.CompanyDescription) </cite></small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)
                <br/> <i class="glyphicon glyphicon-globe"></i>@Html.DisplayFor(model => model.Address)
                <br/> <i class="glyphicon glyphicon-gift"></i> @Html.DisplayFor(model => model.CVR)
                <br/> <i class="glyphicon glyphicon-phone"></i> @Html.DisplayFor(model => model.Phone)
            </p>
            @if (User.IsInRole("CompanyAdministrator"))
            {
                @Html.ActionLink("Edit Info", "CreateCompanyInfo", null, new { @class = "btn btn-warning" })
            }

           
        </div>
        <div class="col-sm-2 col-md-2">
            <h2>Your Info</h2>
            <img src="@ViewBag.User.Photo"
                 alt="" class="img-rounded img-responsive"/>
        </div>
        <div class="col-sm-2 col-md-4">
            <blockquote>
                <p>@ViewBag.User.Name @ViewBag.User.Surname</p> <small><cite title="Source Title"> @User.Identity.Name </cite></small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i> @ViewBag.User.Email
                <br/> <i class="glyphicon glyphicon-globe"></i>@ViewBag.User.Address
                <br/> <i class="glyphicon glyphicon-phone"></i> @ViewBag.User.Phone
            </p>
        </div>
    </div>
</div>


<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Chat</h2>
        <form class="form-inline">
            <div class="form-group">
                <label for="message">Message: </label>
                <input type="hidden" id="username" name="name" value="@User.Identity.Name" />
                <input type="text" id="message" class="form-control" />
            </div>
        </form>
        <br />
        <input type="button" id="send" value="send" class="btn btn-info" />

       
    </div>
    <div class="col-md-6">
        <h2>Messages</h2>
        <ul style="list-style: none;" id="messageBox" class="col-md-12"></ul>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var chatHub = $.connection.chatHub;
        chatHub.client.showMessage = function (username, timestamp, message) {
            $("#messageBox").append("<li padding:5px'> <span style='color:#888'>At " + timestamp + "</span> <span style='color:green; font-weight:bold'>" + username + "</span> said: " + message + "</li>");
        };

        $.connection.hub.start().done(function () {

            var dt = new Date();
            var timeStamp = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            

            $("#send").click(function () {
                chatHub.server.sendMessage( $("#username").val() , timeStamp, $("#message").val());
                $("#message").val("");
            });

        });


    </script>
}