@model ReExamAppV2._3.ViewModels.RolesViewModel

@{
    ViewBag.Title = "Company Roles";
}





<h2>Roles</h2>


@if (User.IsInRole("CompanyAdministrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-spacing" })
    </p>
    <table class="table table-bordered table-hover">

        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Created 
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model.ListOfCompanyRoles)
        {



            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    
                        @Html.ActionLink("Edit ", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-spacing" })
                        @Html.ActionLink(" Details ", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-spacing" })
                        @Html.ActionLink(" Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-spacing" })
                   





                </td>
            </tr>
        }

    </table>
}
else
{


    <table class="table table-bordered table-hover">

        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Yearly Created
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model.ListOfCompanyRoles)
        {



            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                  
                        @Html.ActionLink("Take Role", "TakeRole", new { id = item.Id }, new { @class = "btn btn-success btn-spacing " })
                        @Html.ActionLink("Set as achieved", "SetAchievement", "Experiences", new { id = item.Id }, new { @class = "btn btn-success btn-spacing" })
                        

                </td>
            </tr>
        }

    </table>



    <div>
        <h3>Your focuses</h3>

        <table class="table table-bordered table-hover">

            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Yearly focus
                </th>
                <th></th>
            </tr>


            @foreach (var role in Model.ListOfCompanyRoles)
            {

                foreach (var focus in Model.ListOfEmployeeHasFocuses)
                {
                    if (role.Id == focus.RoleId && focus.UserId == Model.UserId)
                    {


                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => role.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => role.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => role.CreationDate)
                            </td>
                            <td>

                                @Html.ActionLink("Details", "Details", "EmployeeHasFocus", new { id = focus.Id }, new { @class = "btn btn-info btn-spacing " }) 
                                @Html.ActionLink("Delete focus", "DeleteFocusFromRoles", "EmployeeHasFocus", new { id = focus.Id }, new { @class = "btn btn-danger btn-spacing " })



                            </td>
                        </tr>
                    }
                }
            }

        </table>


    </div>


}







